In [3]:
import pandas as pd
df=pd.read_csv(r"C:\Users\CompuFast\OneDrive\Desktop\TMDB_movie_dataset_v11.csv",header=0)
df.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."

In [4]:
df.columns

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages',
       'keywords'],
      dtype='object')

In [5]:
df.describe()

,id,vote_average,vote_count,revenue,runtime,budget,popularity
count,1.058675e+06,1.058675e+06,1.058675e+06,1.058675e+06,1.058675e+06,1.058675e+06,1.058675e+06
mean,6.956178e+05,2.002076e+00,2.025814e+01,7.157280e+05,4.944329e+01,2.805240e+05,1.293365e+00
std,3.723586e+05,3.072888e+00,3.299876e+02,1.799855e+07,6.205908e+01,5.057937e+06,7.857289e+00
min,2.000000e+00,0.000000e+00,0.000000e+00,-1.200000e+01,-2.800000e+01,0.000000e+00,0.000000e+00
25%,3.876335e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.000000e-01
50%,6.974230e+05,0.000000e+00,0.000000e+00,0.000000e+00,2.700000e+01,0.000000e+00,6.000000e-01
75%,1.022196e+06,5.000000e+00,1.000000e+00,0.000000e+00,9.000000e+01,0.000000e+00,8.870000e-01
max,1.311309e+06,1.000000e+01,3.449500e+04,3.000000e+09,1.440000e+04,9.000000e+08,2.994357e+03

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1058675 entries, 0 to 1058674
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1058675 non-null  int64
 1   title                 1058663 non-null  object
 2   vote_average          1058675 non-null  float64
 3   vote_count            1058675 non-null  int64
 4   status                1058675 non-null  object
 5   release_date          915240 non-null   object
 6   revenue               1058675 non-null  int64
 7   runtime               1058675 non-null  int64
 8   adult                 1058675 non-null  bool
 9   backdrop_path         290852 non-null   object
 10  budget                1058675 non-null  int64
 11  homepage              114186 non-null   object
 12  imdb_id               585588 non-null   object
 13  original_language     1058675 non-null  object
 14  original_title        1058663 non-null  object
 15  overview              860577 non-null   object
 16  popularity            1058675 non-null  float64
 17  poster_path           748492 non-null   object
 18  tagline               150995 non-null   object
 19  genres                654389 non-null   object
 20  production_companies  492629 non-null   object
 21  production_countries  611915 non-null   object
 22  spoken_languages      626820 non-null   object
 23  keywords              298231 non-null   object
dtypes: bool(1), float64(2), int64(5), object(16)
memory usage: 186.8+ MB

In [7]:
print("null values before : ",df.isnull().sum())

null values before :  id                           0
title                       12
vote_average                 0
vote_count                   0
status                       0
release_date            143435
revenue                      0
runtime                      0
adult                        0
backdrop_path           767823
budget                       0
homepage                944489
imdb_id                 473087
original_language            0
original_title              12
overview                198098
popularity                   0
poster_path             310183
tagline                 907680
genres                  404286
production_companies    566046
production_countries    446760
spoken_languages        431855
keywords                760444
dtype: int64

# data cleaning

In [8]:
df.drop(df.columns[0], axis=1, inplace=True)
df.fillna({
    'title': 'unknown',
    'genres': 'unknown',
    'production_companies': 'unknown',
    'production_countries': 'unknown',
    'keywords': 'unknown',
    'overview':'unknown',
    'tagline':'unknown',
    'poster_path':'unknown'
}, inplace=True)

df.drop(['backdrop_path', 'homepage','imdb_id','original_title'], axis=1, inplace=True)
df['spoken_languages'].fillna(df['spoken_languages'].mode()[0], inplace=True)

C:\Users\CompuFast\AppData\Local\Temp\ipykernel_20832\966746515.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['spoken_languages'].fillna(df['spoken_languages'].mode()[0], inplace=True)

In [9]:
df.dropna(subset=["release_date"],inplace=True)

In [10]:
print("null values after filling cleaning : ",df.isnull().sum())

null values after filling cleaning :  title                   0
vote_average            0
vote_count              0
status                  0
release_date            0
revenue                 0
runtime                 0
adult                   0
budget                  0
original_language       0
overview                0
popularity              0
poster_path             0
tagline                 0
genres                  0
production_companies    0
production_countries    0
spoken_languages        0
keywords                0
dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 915240 entries, 0 to 1058673
Data columns (total 19 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   title                 915240 non-null  object
 1   vote_average          915240 non-null  float64
 2   vote_count            915240 non-null  int64
 3   status                915240 non-null  object
 4   release_date          915240 non-null  object
 5   revenue               915240 non-null  int64
 6   runtime               915240 non-null  int64
 7   adult                 915240 non-null  bool
 8   budget                915240 non-null  int64
 9   original_language     915240 non-null  object
 10  overview              915240 non-null  object
 11  popularity            915240 non-null  float64
 12  poster_path           915240 non-null  object
 13  tagline               915240 non-null  object
 14  genres                915240 non-null  object
 15  production_companies  915240 non-null  object
 16  production_countries  915240 non-null  object
 17  spoken_languages      915240 non-null  object
 18  keywords              915240 non-null  object
dtypes: bool(1), float64(2), int64(4), object(12)
memory usage: 133.5+ MB

In [12]:
df.head(10)

,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,budget,original_language,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,160000000,en,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,165000000,en,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,185000000,en,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,237000000,en,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,220000000,en,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."
5,Deadpool,7.606,28894,Released,2016-02-09,783100000,108,False,58000000,en,The origin story of former Special Forces oper...,72.735,/zq8Cl3PNIDGU3iWNRoc5nEZ6pCe.jpg,Witness the beginning of a happy ending.,"Action, Adventure, Comedy","20th Century Fox, The Donners' Company, Genre ...",United States of America,English,"superhero, anti hero, mercenary, based on comi..."
6,Avengers: Infinity War,8.255,27713,Released,2018-04-25,2052415039,149,False,300000000,en,As the Avengers and their allies have continue...,154.340,/7WsyChQLEftFiDOVTGkv3hFpyyt.jpg,An entire universe. Once and for all.,"Adventure, Action, Science Fiction",Marvel Studios,United States of America,"English, Xhosa","sacrifice, magic, superhero, based on comic, s..."
7,Fight Club,8.438,27238,Released,1999-10-15,100853753,139,False,63000000,en,A ticking-time-bomb insomniac and a slippery s...,69.498,/pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg,Mischief. Mayhem. Soap.,Drama,"Regency Enterprises, Fox 2000 Pictures, Taurus...",United States of America,English,"dual identity, rage and hate, based on novel o..."
8,Guardians of the Galaxy,7.906,26638,Released,2014-07-30,772776600,121,False,170000000,en,"Light years from Earth, 26 years after being a...",33.255,/r7vmZjiyZw9rpJMQJdXpjgiCOk9.jpg,All heroes start somewhere.,"Action, Science Fiction, Adventure",Marvel Studios,United States of America,English,"spacecraft, based on comic, space, orphan, adv..."
9,Pulp Fiction,8.488,25893,Released,1994-09-10,213900000,154,False,8500000,en,"A burger-loving hit man, his philosophical par...",74.862,/d5iIlFn5s0ImszYzBPb8JPIfbXD.jpg,Just because you are a character doesn't mean ...,"Thriller, Crime","Miramax, A Band Apart, Jersey Films",United States of America,"English, Spanish, French","drug dealer, boxer, massage, stolen money, bri..."

In [13]:
print("number of duplicates before :",df.duplicated().sum() )
df.drop_duplicates(inplace = True)
print("number of duplicates after : ",df.duplicated().sum())

number of duplicates before : 170
number of duplicates after :  0

# feature engineering and encoding
## Extracting additional features from the initial one(release_year)

In [14]:
df['release_date'] = pd.to_datetime(df['release_date'])
df['release_year'] = df['release_date'].dt.year.astype(int)
df['release_month'] = df['release_date'].dt.month.astype(int)
df['release_day'] = df['release_date'].dt.day.astype(int)
df.drop('release_date', axis=1, inplace=True)

In [15]:
df_encoded=df.copy()

## dropping unnecessary columns

In [16]:
df_encoded.drop(['release_month','release_day','keywords','overview','spoken_languages','poster_path','tagline'],axis = 1 ,inplace = True)

## splitting the genre column ( because it has comma separated values) and then encoding them

In [17]:
print(df_encoded['genres'])

0                   Action, Science Fiction, Adventure
1                    Adventure, Drama, Science Fiction
2                       Drama, Action, Crime, Thriller
3          Action, Adventure, Fantasy, Science Fiction
4                   Science Fiction, Action, Adventure
                              ...
1058667                                          Drama
1058668                                    Documentary
1058669                                        unknown
1058671                                    Documentary
1058673                                        unknown
Name: genres, Length: 915070, dtype: object

In [18]:
df_encoded['genres'] = df_encoded['genres'].str.split(', ')
unique_genres = set(genre for sublist in df_encoded['genres'] for genre in sublist)

for genre in unique_genres:
    df_encoded[genre] = df_encoded['genres'].apply(lambda x: 1 if genre in x else 0)

df_encoded.drop('genres', axis=1, inplace=True)

### encoding the adult column with 1 and 0

In [19]:
df_encoded['adult'] = df_encoded['adult'].astype(int)
df_encoded['adult'].value_counts()

adult
0    825843
1     89227
Name: count, dtype: int64

## encoding the status

In [20]:
status_mapping = {
    'Planned': 1,
    'In Production': 2,
    'Post Production': 3,
    'Released': 4,
    'Rumored': 5,
    'Canceled': 6
}

df_encoded['status'] = df_encoded['status'].map(status_mapping)

# frequency encoding the original language column

In [21]:
language_counts = df_encoded['original_language'].value_counts(normalize=True)
df_encoded['original_language'] = df_encoded['original_language'].map(language_counts)

## Target encoding the title column

In [22]:
title_means = df_encoded.groupby('title')['vote_average'].mean()
df_encoded['title'] = df_encoded['title'].map(title_means)
 
df_encoded['title']

0          8.364
1          8.417
2          8.512
3          5.154
4          7.363
           ...
1058667    0.000
1058668    0.000
1058669    0.000
1058671    0.000
1058673    0.000
Name: title, Length: 915070, dtype: float64

## encoding the production countries and comapanies

In [23]:
prod_comp_means = df_encoded.groupby('production_companies')['revenue'].mean()
df_encoded['production_companies'] = df_encoded['production_companies'].map(prod_comp_means)

In [24]:
prod_cont_means = df_encoded.groupby('production_countries')['revenue'].mean()

df_encoded['production_countries'] = df_encoded['production_countries'].map(prod_cont_means)

# splitting my data into features and target variables

In [25]:
from sklearn.model_selection import train_test_split

features = df_encoded.drop(['title'],axis = 'columns')
target=df_encoded['title']

# scaling the encoded data

In [26]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

scaler = StandardScaler()

df_encoded_scaled=scaler.fit_transform(features)

# The beginnning of my model ( KNN using cosine similarity )

In [27]:
from sklearn.neighbors import NearestNeighbors

knn = NearestNeighbors(metric='cosine', algorithm='brute')

knn.fit(df_encoded_scaled)

NearestNeighbors(algorithm='brute', metric='cosine')

## first part of the project and the main goal which is recommending similar movies to the one you like.

In [28]:
from IPython.display import Image, display

base_url = "https://image.tmdb.org/t/p/original"
df['poster_path'] = base_url + df['poster_path']

def knn_recommendation(movie_title, k=15):
    movie_index_original = df[df['title'] == movie_title].index
    
    if len(movie_index_original) == 0:
        print(f"Movie '{movie_title}' not found in the DataFrame.")
        return []   
    
    original_movie_index = movie_index_original[0]
    movie_features = df_encoded_scaled[original_movie_index].reshape(1, -1)    
    distances, indices = knn.kneighbors(movie_features, n_neighbors=k + 1)  # +1 to exclude itself

    indices = indices.flatten()[1:] 
    
    recommended_movies = df.iloc[indices][['title', 'overview', 'poster_path', 'tagline']]
    recommended_movies_list = list(recommended_movies.itertuples(index=False, name=None))
    
    return recommended_movies_list[:k]

def display_movie_details(movie_title, recommendations):
    input_movie = df[df['title'] == movie_title].iloc[0]
    print(f"Input Movie: {movie_title}\nOverview: {input_movie['overview']}\n\nTagline: {input_movie['tagline']}")
    display(Image(url=input_movie['poster_path'], width=200))
    
    print("\nRecommended Movies:\n")
    for title, overview, poster_path, tagline in recommendations:
        print(f"Title: {title}\nOverview: {overview}\nTagline: {tagline}")
        display(Image(url=poster_path, width=200))
        print("\n")

input_movie_title = "Interstellar"
recommendations = knn_recommendation(input_movie_title)
display_movie_details(input_movie_title, recommendations)

Input Movie: Interstellar
Overview: The adventures of a group of explorers who make use of a newly discovered wormhole to surpass the limitations on human space travel and conquer the vast distances involved in an interstellar voyage.

Tagline: Mankind was born on Earth. It was never meant to die here.

Recommended Movies:

Title: Inception
Overview: Cobb, a skilled thief who commits corporate espionage by infiltrating the subconscious of his targets is offered a chance to regain his old life as payment for a task considered to be impossible: "inception", the implantation of another person's idea into a target's subconscious.
Tagline: Your mind is the scene of the crime.

Title: Iron Man
Overview: After being held captive in an Afghan cave, billionaire engineer Tony Stark creates a unique weaponized suit of armor to fight evil.
Tagline: Heroes aren't born. They're built.

Title: The Social Network
Overview: The tale of a new breed of cultural insurgent: a punk genius who sparked a revolution and changed the face of human interaction for a generation, and perhaps forever.
Tagline: You don't get to 500 million friends without making a few enemies.

Title: The Wolf of Wall Street
Overview: A New York stockbroker refuses to cooperate in a large securities fraud case involving corruption on Wall Street, corporate banking world and mob infiltration. Based on Jordan Belfort's autobiography.
Tagline: Earn. Spend. Party.

Title: Gladiator
Overview: In the year 180, the death of emperor Marcus Aurelius throws the Roman Empire into chaos.  Maximus is one of the Roman army's most capable and trusted generals and a key advisor to the emperor.  As Marcus' devious son Commodus ascends to the throne, Maximus is set to be executed.  He escapes, but is captured by slave traders.  Renamed Spaniard and forced to become a gladiator, Maximus must battle to the death with other men for the amusement of paying audiences.
Tagline: A hero will rise.

Title: Captain America: The First Avenger
Overview: During World War II, Steve Rogers is a sickly man from Brooklyn who's transformed into super-soldier Captain America to aid in the war effort. Rogers must stop the Red Skull â€“ Adolf Hitler's ruthless head of weaponry, and the leader of an organization that intends to use a mysterious device of untold powers for world domination.
Tagline: When patriots become heroes

Title: The Matrix
Overview: Set in the 22nd century, The Matrix tells the story of a computer hacker who joins a group of underground insurgents fighting the vast and powerful computers who now rule the earth.
Tagline: Welcome to the Real World.

Title: Ant-Man
Overview: Armed with the astonishing ability to shrink in scale but increase in strength, master thief Scott Lang must embrace his inner-hero and help his mentor, Doctor Hank Pym, protect the secret behind his spectacular Ant-Man suit from a new generation of towering threats. Against seemingly insurmountable obstacles, Pym and Lang must plan and pull off a heist that will save the world.
Tagline: Heroes don't get any bigger.

Title: Million Dollar Baby
Overview: Despondent over a painful estrangement from his daughter, trainer Frankie Dunn isn't prepared for boxer Maggie Fitzgerald to enter his life. But Maggie's determined to go pro and to convince Dunn and his cohort to help her.
Tagline: Beyond his silence, there is a past. Beyond her dreams, there is a feeling. Beyond hope, there is a memory. Beyond their journey, there is a love.

Title: Now You See Me
Overview: An FBI agent and an Interpol detective track a team of illusionists who pull off bank heists during their performances and reward their audiences with the money.
Tagline: 4 amazing magicians. 3 impossible heists. 1 billion dollars. This is no illusion.

Title: Catch Me If You Can
Overview: A true story about Frank Abagnale Jr. who, before his 19th birthday, successfully conned millions of dollars worth of checks as a Pan Am pilot, doctor, and legal prosecutor. An FBI agent makes it his mission to put him behind bars. But Frank not only eludes capture, he revels in the pursuit.
Tagline: The true story of a real fake.

Title: The Truman Show
Overview: Truman Burbank is the star of The Truman Show, a 24-hour-a-day reality TV show that broadcasts every aspect of his life without his knowledge. His entire life has been an unending soap opera for consumption by the rest of the world. And everyone he knows, including his wife and his best friend, is really an actor, paid to be part of his life.
Tagline: On the air. Unaware.

Title: Kingsman: The Secret Service
Overview: The story of a super-secret spy organization that recruits an unrefined but promising street kid into the agency's ultra-competitive training program just as a global threat emerges from a twisted tech genius.
Tagline: Manners maketh man.

Title: Spider-Man: Into the Spider-Verse
Overview: Struggling to find his place in the world while juggling school and family, Brooklyn teenager Miles Morales is unexpectedly bitten by a radioactive spider and develops unfathomable powers just like the one and only Spider-Man. While wrestling with the implications of his new abilities, Miles discovers a super collider created by the madman Wilson "Kingpin" Fisk, causing others from across the Spider-Verse to be inadvertently transported to his dimension.
Tagline: More than one wears the mask.

Title: Gran Torino
Overview: Disgruntled Korean War veteran Walt Kowalski sets out to reform his neighbor, Thao Lor, a Hmong teenager who tried to steal Kowalski's prized possession: a 1972 Gran Torino.
Tagline: Ever come across somebody you shouldn't have f#cked with?

# this is the part where i want to implement my second idea in this MRS which is the recommendation by genre

In [ ]:
def recommend_top_movies_by_genre(genre, top_n=10):
    filtered_df = df[df['genres'].str.contains(genre, case=False, na=False)].copy()
    
    filtered_df.loc[:, 'normalized_popularity'] = (filtered_df['popularity'] - filtered_df['popularity'].min()) / (filtered_df['popularity'].max() - filtered_df['popularity'].min())
    filtered_df.loc[:, 'normalized_revenue'] = (filtered_df['revenue'] - filtered_df['revenue'].min()) / (filtered_df['revenue'].max() - filtered_df['revenue'].min())
    filtered_df.loc[:, 'normalized_vote_average'] = (filtered_df['vote_average'] - filtered_df['vote_average'].min()) / (filtered_df['vote_average'].max() - filtered_df['vote_average'].min())
    filtered_df.loc[:, 'normalized_vote_count'] = (filtered_df['vote_count'] - filtered_df['vote_count'].min()) / (filtered_df['vote_count'].max() - filtered_df['vote_count'].min())
    filtered_df.loc[:, 'normalized_budget'] = (filtered_df['budget'] - filtered_df['budget'].min()) / (filtered_df['budget'].max() - filtered_df['budget'].min())
    
    filtered_df.loc[:, 'composite_score'] = (
        0.2 * filtered_df['normalized_popularity'] +
        0.2 * filtered_df['normalized_revenue'] +
        0.2 * filtered_df['normalized_vote_average'] +
        0.2 * filtered_df['normalized_vote_count'] +
        0.2 * filtered_df['normalized_budget']
    )
    
    sorted_df = filtered_df.sort_values(by='composite_score', ascending=False)
    
    top_movies = sorted_df.head(top_n)    
    recommended_movies = top_movies[['title', 'overview', 'poster_path', 'tagline']]
    recommended_movies_list = list(recommended_movies.itertuples(index=False, name=None))
    return recommended_movies_list

def display_genre_recommendations(genre, recommendations):
    print(f"Top Movies in Genre '{genre}':\n")
    for title, overview, poster_path, tagline in recommendations:
        print(f"Title: {title}\nOverview: {overview}\nTagline: {tagline}")
        display(Image(url=poster_path, width=200))
        print("\n")

input_genre = "Romance"
genre_recommendations = recommend_top_movies_by_genre(input_genre, top_n=10)
display_genre_recommendations(input_genre, genre_recommendations)

Top Movies in Genre 'Romance':

Title: Titanic
Overview: 101-year-old Rose DeWitt Bukater tells the story of her life aboard the Titanic, 84 years later. A young Rose boards the ship with her mother and fiancÃ©. Meanwhile, Jack Dawson and Fabrizio De Rossi win third-class tickets aboard the ship. Rose tells the whole story from Titanic's departure through to its deathâ€”on its first and last voyageâ€”on April 15, 1912.
Tagline: Nothing on Earth could come between them.

Title: Elemental
Overview: In a city where fire, water, land and air residents live together, a fiery young woman and a go-with-the-flow guy will discover something elemental: how much they have in common.
Tagline: Opposites react.

Title: Beauty and the Beast
Overview: A live-action adaptation of Disney's version of the classic tale of a cursed prince and a beautiful young woman who helps him break the spell.
Tagline: Be our guest.

Title: Forrest Gump
Overview: A man with a low IQ has accomplished great things in his life and been present during significant historic eventsâ€”in each case, far exceeding what anyone imagined he could do. But despite all he has achieved, his one true love eludes him.
Tagline: The world will never be the same once you've seen it through the eyes of Forrest Gump.

Title: Aladdin
Overview: A kindhearted street urchin named Aladdin embarks on a magical adventure after finding a lamp that releases a wisecracking genie while a power-hungry Grand Vizier vies for the same lamp that has the power to make their deepest wishes come true.
Tagline: Choose Wisely.

Title: No Time to Die
Overview: Bond has left active service and is enjoying a tranquil life in Jamaica. His peace is short-lived when his old friend Felix Leiter from the CIA turns up asking for help. The mission to rescue a kidnapped scientist turns out to be far more treacherous than expected, leading Bond onto the trail of a mysterious villain armed with dangerous new technology.
Tagline: The mission that changes everything beginsâ€¦

Title: The Little Mermaid
Overview: The youngest of King Tritonâ€™s daughters, and the most defiant, Ariel longs to find out more about the world beyond the sea, and while visiting the surface, falls for the dashing Prince Eric. With mermaids forbidden to interact with humans, Ariel makes a deal with the evil sea witch, Ursula, which gives her a chance to experience life on land, but ultimately places her life â€“ and her fatherâ€™s crown â€“ in jeopardy.
Tagline: Watch and you'll see, some day I'll be, part of your world!

Title: Maleficent
Overview: A beautiful, pure-hearted young woman, Maleficent has an idyllic life growing up in a peaceable forest kingdom, until one day when an invading army threatens the harmony of the land.  Maleficent rises to be the land's fiercest protector, but she ultimately suffers a ruthless betrayal â€“ an act that begins to turn her heart into stone. Bent on revenge, Maleficent faces an epic battle with the invading King's successor and, as a result, places a curse upon his newborn infant Aurora. As the child grows, Maleficent realizes that Aurora holds the key to peace in the kingdom â€“ and to Maleficent's true happiness as well.
Tagline: Don't believe the fairy tale.

Title: The Curious Case of Benjamin Button
Overview: Born under unusual circumstances, Benjamin Button springs into being as an elderly man in a New Orleans nursing home and ages in reverse. Twelve years after his birth, he meets Daisy, a child who flits in and out of his life as she grows up to be a dancer. Though he has all sorts of unusual adventures over the course of his life, it is his relationship with Daisy, and the hope that they will come together at the right time, that drives Benjamin forward.
Tagline: Life isn't measured in minutes, but in moments.

Title: The Twilight Saga: Breaking Dawn - Part 2
Overview: After the birth of Renesmee, the Cullens gather other vampire clans in order to protect the child from a false allegation that puts the family in front of the Volturi.
Tagline: The epic finale that will live forever

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 915070 entries, 0 to 1058673
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   title                 915070 non-null  object
 1   vote_average          915070 non-null  float64
 2   vote_count            915070 non-null  int64
 3   status                915070 non-null  object
 4   revenue               915070 non-null  int64
 5   runtime               915070 non-null  int64
 6   adult                 915070 non-null  bool
 7   budget                915070 non-null  int64
 8   original_language     915070 non-null  object
 9   overview              915070 non-null  object
 10  popularity            915070 non-null  float64
 11  poster_path           915070 non-null  object
 12  tagline               915070 non-null  object
 13  genres                915070 non-null  object
 14  production_companies  915070 non-null  object
 15  production_countries  915070 non-null  object
 16  spoken_languages      915070 non-null  object
 17  keywords              915070 non-null  object
 18  release_year          915070 non-null  int32
 19  release_month         915070 non-null  int32
 20  release_day           915070 non-null  int32
dtypes: bool(1), float64(2), int32(3), int64(4), object(11)
memory usage: 137.0+ MB

In [37]:
import joblib

# Save objects
joblib.dump(df, 'df.pkl')
joblib.dump(df_encoded_scaled, 'df_encoded_scaled.pkl')
joblib.dump(knn, 'knn_model.pkl')

['knn_model.pkl']